body{
	background: linear-gradient(yellow 0%, purple 100%);
	text-align: center;
}
h4{
	color: indigo;
}
span{
	color: purple;
}
.login_div1 , .login_div2
{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}
#number1, #number2{
	display: inline-block;
	margin-left: 20px;
	width: 60%;
}
#word_display{
	letter-spacing: 5px;
}
#output{
background: green;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
p{
	color: white;
}